# Begining exploration of the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from cleaning.clean_func import *
from pipe.fitting_models import first_test

### Data
In this section you will find data needed to train your model and a detailed description of it.

### Files
train.csv: training dataset predict.csv: dataset to predict price for sample_submission.csv: sample submission

### Features
- id: only for test & sample submission files, id for prediction sample identification
- price: price in USD
- carat: weight of the diamond
- cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- color: diamond colour, from J (worst) to D (best)
- clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
- x: length in mm
- y: width in mm
- z: depth in mm
- depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
- table: width of top of diamond relative to widest point (43--95)

In [2]:
diamonds = pd.read_csv("train.csv",index_col="id")
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [3]:
y=y_processing(diamonds["price"])
X=cleaning_1(diamonds.drop(columns=["price"]))

In [4]:
X.head()

,carat,x,y,z,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,...,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,x*x,x*y,x*z,y*y,y*z,z*z
id,,,,,,,,,,,,,,,,,,,,,
0,0.50,5.11,5.07,3.17,0,1,0,0,0,0,...,0,1,0,0,26.1121,25.9077,16.1987,25.7049,16.0719,10.0489
1,1.54,7.30,7.33,4.65,1,0,0,0,0,0,...,1,0,0,0,53.2900,53.5090,33.9450,53.7289,34.0845,21.6225
2,1.32,6.95,7.01,4.31,0,0,0,1,0,0,...,0,0,0,0,48.3025,48.7195,29.9545,49.1401,30.2131,18.5761
3,1.20,6.83,6.79,4.23,0,1,0,0,0,0,...,0,0,0,0,46.6489,46.3757,28.8909,46.1041,28.7217,17.8929
4,1.73,7.67,7.65,4.69,0,0,1,0,0,0,...,0,0,0,0,58.8289,58.6755,35.9723,58.5225,35.8785,21.9961

In [10]:
from sklearn import linear_model
sel_func = first_test(X,y)

LinearRegression
RMSE (train) = 981.5955365880769
RMSE (test) = 1104.3906814763911

In [11]:
sel_func.fit(X,y)
y_pred=10**sel_func.predict(X)

In [12]:
y_pred

array([ 1716.7077815 , 10252.66024887,  4577.41300968, ...,
        2398.97376557,  6454.62522817,   775.24921286])