# Begining exploration of the data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from cleaning.clean_func import *

### Data
In this section you will find data needed to train your model and a detailed description of it.

### Files
train.csv: training dataset predict.csv: dataset to predict price for sample_submission.csv: sample submission

### Features
- id: only for test & sample submission files, id for prediction sample identification
- price: price in USD
- carat: weight of the diamond
- cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- color: diamond colour, from J (worst) to D (best)
- clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
- x: length in mm
- y: width in mm
- z: depth in mm
- depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
- table: width of top of diamond relative to widest point (43--95)

In [6]:
diamonds = pd.read_csv("train.csv",index_col="id")
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [8]:
y=y_processing(diamonds["price"])
X=cleaning_1(diamonds.drop(columns=)):

id
0        3.265996
1        4.007065
2        3.741388
3        3.713826
4        4.039692
           ...
40450    2.836957
40451    3.600319
40452    3.338855
40453    3.857393
40454    2.987666
Name: price, Length: 40455, dtype: float64