# Begining exploration of the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Data
In this section you will find data needed to train your model and a detailed description of it.

### Files
train.csv: training dataset predict.csv: dataset to predict price for sample_submission.csv: sample submission

### Features
- id: only for test & sample submission files, id for prediction sample identification
- price: price in USD
- carat: weight of the diamond
- cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- color: diamond colour, from J (worst) to D (best)
- clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
- x: length in mm
- y: width in mm
- z: depth in mm
- depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
- table: width of top of diamond relative to widest point (43--95)

In [2]:
diamonds_train = pd.read_csv("train.csv")
diamonds_test = pd.read_csv("predict.csv")
diamonds_submission = pd.read_csv("sample_submission.csv")

In [3]:
diamonds_train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1   1   1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2   2   1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3   3   1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4   4   1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
diamonds_test.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.45  Premium     E     SI1   62.8   58.0  4.88  4.84  3.05
1   1   1.23    Ideal     H     SI1   61.0   56.0  6.96  6.92  4.23
2   2   0.33    Ideal     I      IF   61.8   55.0  4.46  4.47  2.76
3   3   0.51  Premium     D     VS2   58.0   60.0  5.29  5.26  3.06
4   4   0.40  Premium     E     VS2   62.2   59.0  4.71  4.74  2.94

In [5]:
diamonds_submission.head()

   id  price
0   0  16964
1   1   6754
2   2  16579
3   3  10765
4   4   4971

Evaluation
The evaluation metric chosen for this competition is the RMSE (Root Mean Squared Error):

https://en.wikipedia.org/wiki/Root-mean-square_deviation

Submit results
Submissions are limited to 4 times a day.
The test set is divided into a public part (with which the public leaderboard is calculated, accessible during the competition) and another private part, with which the final positions are calculated, after the end of the competition.
Predictions will be sent in the format indicated in the sample_submission.csv file in the data section.

## Feature Exploration

Lets see...